<!-- src/app/pages/lista-visitas/lista-visitas.html -->
<header class="header-container">
  <div class="header-content">
    <img src="https://i.pinimg.com/1200x/d0/9e/55/d09e55b834a5a146230225e6025b8ffc.jpg" alt="Logo Hospital" class="logo-hospital">
    <h1 class="titulo">Agenda Pacientes</h1>
    <div style="margin-left:auto;">
      <button class="btn" (click)="irCrear()">+ Nueva Visita</button>
    </div>
  </div>
</header>

<div class="pagina-wrapper">

  <div class="filtros-panel">

    <div class="filtros-row">

      <input type="text"
            placeholder="Buscar por nombre..."
            [(ngModel)]="filtroNombre"
            (input)="aplicarFiltros()" />

      <input type="text"
            placeholder="Buscar por RUT..."
            [(ngModel)]="filtroRut"
            (input)="aplicarFiltros()" />

      <input type="date"
            [(ngModel)]="filtroFecha"
            (change)="aplicarFiltros()" />

      <input type="text"
            placeholder="Buscar por área..."
            [(ngModel)]="filtroArea"
            (input)="aplicarFiltros()" />

      <input type="text"
            placeholder="Buscar por doctor..."
            [(ngModel)]="filtroDoctor"
            (input)="aplicarFiltros()" />

    </div>

  <div class="filtros-botonera">
    <button class="btn-grafico" (click)="toggleGrafico()">📊 Ver gráfico semanal</button>
  </div>

</div>


  <div *ngIf="mostrarGrafico" class="grafico-box"><canvas id="graficoSemanal"></canvas></div>

  <div class="visitas-container">
    <div class="visitas-box">
      <div *ngIf="visitasFiltradas.length === 0" class="empty-msg">No se encontraron visitas.</div>

      <div class="visita-card" *ngFor="let v of visitasFiltradas">
        <h3>{{ v.nombre }}</h3>

        <div class="visita-info">
            <p><strong>RUT:</strong> {{ v.rut }}</p>
            <p><strong>Motivo:</strong> {{ v.motivo_visita }}</p>
            <p><strong>Entrada:</strong> {{ v.hora_entrada }}</p>
            <p><strong>Salida:</strong> {{ v.hora_salida }}</p>
            <p><strong>Fecha:</strong> {{ v.fecha }}</p>

            <p><strong>Área:</strong> {{ v.area ? v.area : 'No asignada' }}</p>
            <p><strong>Doctor:</strong> {{ v.doctor ? v.doctor : 'Sin asignar' }}</p>

        </div>

        <div class="acciones">
          <button (click)="irEditar(v)">✏️ Editar</button>
          <button (click)="eliminarVisita(v.id)">🗑️ Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>
